<h1>Bienvenido a Twitter API.</h1>
<div id="container">
  <form action="/fetch" method="post">
    <input type="text" name="twitter_handle" placeholder="Twitter Handle">&nbsp
    <input type="submit" name="submit_twitter_handle" value="Submit.">&nbsp
  </form>
    <form action="/tweet" method="post">
    <input type="text" id="input" name="tweet_content" placeholder="Tweet">&nbsp
    <input type="submit" id="submit_tweet_content" name="submit_tweet_content" value="Submit.">&nbsp
  </form>
</div><br><br>
<div>
  <p>Posted Tweet:</p>
</div>
<div id="content_changer">
</div>