<h1>He aquì todos los tuits</h2>

<div style="width:300px margin:3em">
  <%@all_tweets.each do |tweet|%>
  <%user = TwitterUser.find(tweet.user_id)%>
  <b><%=user.name%></b><br>
  <p><%=tweet.content%></p><br>
  <%end%>
</div>