<h1>Pending Tweets:</h1>
<div id="container">
  <div id="content_changer">
    <% @list_tweets.each do |t| %>
    <a href="/status/:#{t.job_id}"><%= t.content %></a>
    <br>
    <% end %>
    <form action="/tweet" method="post">
      <textarea style="resize: none, width: 50px, height:3em" name="tweet_content" placeholder="Enter tweet content"></textarea><br><br>
      <input type="text" name="tweet_time" placeholder="Enter time to submit tweet"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>